<div class="thumbnail <%= product_counter.odd? ? "even" : "odd" %>">
  
  <% if product.preview_image? %>
  <%= image_tag(product.preview_image.url) %>
  <% end %>
  
  <div class="caption">
    <h5><%= product.name %></h5>
    <p class="short_description"><%= mu(product, :short_description) %></p>
    
    <p>
    <%= link_to(product, :class => "more-link btn") do %>
      <i class="icon-info-sign"></i>
      <%= t('ecm.products.product.actions.more') %>
    <% end %>
    </p>
  </div>
</div>
