<div class="product" id="product-<%= product.id %>">
  <h2 class="product-name"><%= product.name %></h2>
  <ul>
    <li class="product-created_at"><%= Ecm::Products::Product.human_attribute_name(:created_at) %>: <%= l(product.created_at) rescue nil %></li>
    <li class="product-updated_at"><%= Ecm::Products::Product.human_attribute_name(:updated_at) %>: <%= l(product.updated_at) rescue nil %></li>
  </ul> 
  
  <% unless product.short_description.blank? %>
  <div class="product-short_description">
    <p><%= product.short_description %></p>
  </div>
  <% end %>
  
  <% unless product.long_description.blank? %>
  <div class="product-long_description">
    <p><%= product.long_description %></p>
  </div>
  <% end %>
  
  <div class="product-actions">
  </div>
</div>

<hr />
