<h1 class="product_category-name"><%= product_category.name %></h1>

<%= nested_li(product_category.descendants, {}) do |product_category, level| %>
  <%= link_to product_category.tree_name, product_category %>
<% end %>
  
<% unless product_category.short_description.blank? %>
  <p><%= product_category.short_description %></p>
<% end %> 
  
<% unless product_category.long_description.blank? %>
  <p><%= product_category.long_description %></p>
<% end %>     

<h2><%= Ecm::Products::ProductCategory.human_attribute_name(:ecm_products_products) %></h2>
  
<% if product_category.ecm_products_products_count == 0 %>
  <%= t('ecm.products.product_category.messages.no_products_available') %>
<% else %>
  <ul class="thumbnails product-previews">
    <%= render :partial => 'ecm/products/products/product_preview', :collection => product_category.ecm_products_products, :as => :product %>
  </ul>  
<% end %>
